.note-input {
    width: 2.65em;
    /* font: 1.25em sans-serif; */
}

.tuning-notes {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.tuning-label {
    font: var(--main-font-height) sans-serif;
    height: calc(var(--input-height) / var(--main-font-height-no-units));
    line-height: calc(var(--input-height) / var(--main-font-height-no-units));
    padding: calc(var(--main-padding) / var(--main-font-height-no-units));
}

.tuning-label {
}

.tuning-select {
}

.icon {
    /* calculate filter from color with https://codepen.io/sosuke/pen/Pjoqqp 
    Include brightness(0) saturate(100%) first if icon isn't 100% black
    */
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(2deg) brightness(107%)
        contrast(102%);
    height: 1.4em;
    width: 1.4em;
}

.tuning-bar {
    display: flex;
    flex-flow: row nowrap;
}

.modify-tuning {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.add-string-background,
.remove-string-background {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 1.6em;
    width: 1.6em;
}

.add-string-background:hover {
    background-color: hsl(200, 25%, 53%);
}

.add-string-background:active {
    background-color: hsl(200, 100%, 70%);
}

.remove-string-background:hover {
    background-color: hsl(0, 26%, 40%);
}

.remove-string-background:active {
    background-color: hsl(0, 100%, 69%);
}

.tuning-label-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}
